<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PoomsaeScorer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A731C401C2A9CB50022A73B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A731C541C2A9CB60022A73B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A731C5F1C2A9CB60022A73B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
